/doc/_build/
/doc/_build/doctrees/
/doc/_build/html/
/doc/_build/latex/
/doc/_static/
/doc/_templates/
/doc/algorithm_overview.rst
/doc/conf.py
/doc/index.rst
/doc/make.bat
/doc/Makefile
/doc/modules.rst
/doc/mpo.geometry.rst
/doc/mpo.mp_solvers.rst
/doc/mpo.rst
/doc/mpo.solver_interface.rst
/doc/mpo.upop.rst
/doc/mpo.utils.rst
/doc/tutorial.rst
/doc/
/.idea/
/.pytest_cache/
/.github/
